﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Australia's No.1 place to buy, sell or research a car, and read all the latest news and reviews.</p>
