﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Level 4, 449 Punt Rd<br />
    Richmond VIC 3121<br />
    Melbourne, Australia<br />
    <abbr title="Phone">P:</abbr>
    0457 613 510
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@carsales.com.au">Support@carsales.com.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@carsales.com.au">Marketing@carsales.com.au</a>
</address>