<form [formGroup]="carSalesForm" (ngSubmit)="saveForm(carSalesForm)">
    <h2>
        Welcome to Carsales!
    </h2>
    <br />
    <h5>Please choose to create a new vehicle</h5>

    <div class="form-group">
        <select class="form-control" formControlName="vehicleType">
            <option [ngValue]="vehicle" *ngFor="let vehicle of vehicles">{{ vehicle }}</option>
        </select>
        <div *ngIf="this.carSalesForm.controls.vehicleType.invalid && (this.carSalesForm.controls.vehicleType.dirty || this.carSalesForm.controls.vehicleType.touched)" class="alert alert-danger">
            <div *ngIf="this.carSalesForm.controls.vehicleType.errors.required">
                Vehicle type is required.
            </div>
        </div>
    </div>
    <br />
    <br />

    <div *ngIf="this.carSalesForm.controls.vehicleType.value == 'Car' || this.carSalesForm.controls.vehicleType.value == 'Boat' || this.carSalesForm.controls.vehicleType.value == 'Aircraft'">
        <div class="form-group">
            <label>Make</label>
            <input type="text" formControlName="make" class="form-control" />
            <div *ngIf="this.carSalesForm.controls.make.invalid && (this.carSalesForm.controls.make.dirty || this.carSalesForm.controls.make.touched)" class="alert alert-danger">
                <div *ngIf="this.carSalesForm.controls.make.errors.required">
                    Make is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Model</label>
            <input type="text" formControlName="model" class="form-control" />
            <div *ngIf="this.carSalesForm.controls.model.invalid && (this.carSalesForm.controls.model.dirty || this.carSalesForm.controls.model.touched)" class="alert alert-danger">
                <div *ngIf="this.carSalesForm.controls.model.errors.required">
                    Model is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Engine</label>
            <input type="text" formControlName="engine" class="form-control" />
            <div *ngIf="this.carSalesForm.controls.engine.invalid && (this.carSalesForm.controls.engine.dirty || this.carSalesForm.controls.engine.touched)" class="alert alert-danger">
                <div *ngIf="this.carSalesForm.controls.engine.errors.required">
                    Engine is required.
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.carSalesForm.controls.vehicleType.value == 'Car'">
        <div class="form-group">
            <label>Doors</label>
            <input type="number" formControlName="doors" class="form-control" />
            <div *ngIf="this.carSalesForm.controls.doors.invalid && (this.carSalesForm.controls.doors.dirty || this.carSalesForm.controls.doors.touched)" class="alert alert-danger">
                <div *ngIf="this.carSalesForm.controls.doors.errors.required || this.carSalesForm.controls.doors.errors.min || this.carSalesForm.controls.doors.errors.max">
                    A mininum number of 1 and a maximimum number of 8 is required for doors.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Wheels</label>
            <input type="number" formControlName="wheels" class="form-control" />
            <div *ngIf="this.carSalesForm.controls.wheels.invalid && (this.carSalesForm.controls.wheels.dirty || this.carSalesForm.controls.wheels.touched)" class="alert alert-danger">
                <div *ngIf="this.carSalesForm.controls.wheels.errors.required || this.carSalesForm.controls.wheels.errors.min || this.carSalesForm.controls.wheels.errors.max">
                    A mininum number of 1 and a maximimum number of 18 is required for wheels.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Body Type</label>
            <select class="form-control" formControlName="bodyType">
                <option [ngValue]="bodyType" *ngFor="let bodyType of bodyTypes">{{ bodyType }}</option>
            </select>
            <div *ngIf="this.carSalesForm.controls.bodyType.invalid && (this.carSalesForm.controls.bodyType.dirty || this.carSalesForm.controls.bodyType.touched)" class="alert alert-danger">
                <div *ngIf="this.carSalesForm.controls.bodyType.errors.required">
                    Body type is required.
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="carSalesForm.controls.vehicleType.value == 'Boat'">
        <!-- To be implemented -->
    </div>

    <br />
    <br />
    <div *ngIf="carSalesForm.controls.vehicleType.value == 'Car' || carSalesForm.controls.vehicleType.value == 'Boat'">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
<!--<router-outlet></router-outlet>-->
<!--<pre>
    {{carSalesForm.value | json}}
</pre>-->

